Port 22
Protocol 2
HostKey /run/sshd/ssh_host_ed25519_key
HostKey /run/sshd/ssh_host_rsa_key
UsePAM no
UseDNS no
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
StrictModes yes
AllowUsers awx-fixture
X11Forwarding no
AllowTcpForwarding no
GatewayPorts no
PrintMotd no
LogLevel ERROR
